**They are 2 types of Comprehensions**

- `List Comprehension `
- `Dictionary Comprehension `

**List Comprehension**

In [ ]:
for i in range(11,21):
  print('good Morning')

good Morning
good Morning
good Morning
good Morning
good Morning
good Morning
good Morning
good Morning
good Morning
good Morning

In [ ]:
# rule 1 syntax -> [<printing_area> forloop]

print(['good morning' for i in range(11,21)])

['good morning', 'good morning', 'good morning', 'good morning', 'good morning', 'good morning', 'good morning', 'good morning', 'good morning', 'good morning']

In [ ]:
# one forloop and one if

for i in range(11,21):
  if i % 2 == 0:
    print(f'Even : {i}')

Even : 12
Even : 14
Even : 16
Even : 18
Even : 20

In [ ]:
# using comprehension ->
# rule 2 -> [<printing area> forloop if <condition>]


print(['Even :'+str(i) for i in range(11,21) if i%2 == 0])

['Even :12', 'Even :14', 'Even :16', 'Even :18', 'Even :20']

In [ ]:
for i in range(11,21):
  if i%2 == 0:
    print(f'Even : {i}')
  else:
    print(f'Odd : {i}')

Odd : 11
Even : 12
Odd : 13
Even : 14
Odd : 15
Even : 16
Odd : 17
Even : 18
Odd : 19
Even : 20

In [ ]:
# rule 3 -> [<condition> if else <condition> forloop]

print(['Even : '+str(i) if i% 2 == 0 else 'Odd : '+str(i) for i in range(11,21)])

['Odd : 11', 'Even : 12', 'Odd : 13', 'Even : 14', 'Odd : 15', 'Even : 16', 'Odd : 17', 'Even : 18', 'Odd : 19', 'Even : 20']

In [ ]:
a = 'data science'

r = ''

for i in a:
  if i in 'aeiouAEIOU':
    pass
  else:
    r = r + i
print(r)

dt scnc

In [ ]:
print(''.join([i for i in 'data science' if i not in 'aeiouAEIOU']))

dt scnc

**dictionary comprehension**

In [ ]:
# rule 1 -> [i forloop]
# rule 2 -> [i forloop if <condition>]
# rule 3 -> [<print> if else <print> forloop]

In [ ]:
fruits = {'apple':100 , 'carrot':200 , 'banana':300}

for i in fruits:
  fruits[i] = fruits[i]+400


print(fruits)

{'apple': 500, 'carrot': 600, 'banana': 700}

In [ ]:
fruits.items()

dict_items([('apple', 500), ('carrot', 600), ('banana', 700)])

In [ ]:
print({i:j+400 for i,j in {'apple':100 , 'carrot':200 , 'banana':300}.items()})

{'apple': 500, 'carrot': 600, 'banana': 700}

In [ ]:
fruits = {'apple':100 , 'carrot':200 , 'banana':300}

for i in fruits:
  if fruits[i] > 150:
    fruits[i] = fruits[i] * 5

print(fruits)

{'apple': 100, 'carrot': 1000, 'banana': 1500}

In [ ]:
fruits = {'apple':100 , 'carrot':200 , 'banana':300}

print({i:fruits[i]*5 for i,j in fruits.items() if j > 150})

{'carrot': 1000, 'banana': 1500}

In [ ]:
fruits = {'apple':100 , 'carrot':200 , 'banana':300}

for i in fruits:
  if fruits[i] > 150:
    fruits[i] = fruits[i] * 5
  else:
    fruits[i] = fruits[i] * 3

print(fruits)

{'apple': 300, 'carrot': 1000, 'banana': 1500}

In [ ]:
fruits = {'apple':100 , 'carrot':200 , 'banana':300}
print({i:(j*5 if j>150 else j*3) for i,j in fruits.items()})

{'apple': 300, 'carrot': 1000, 'banana': 1500}