**control_statements**

- `forloop`
- `while loop`

**conditional Staments**

- `if `
- `else `
- `elif `
- `break `
- `continue `

**forloop**

syntax:

for [var] in range(s_p,e_p):
    
    Logic here

In [ ]:
for i in range(11,21):
  print('good morning')

good morning
good morning
good morning
good morning
good morning
good morning
good morning
good morning
good morning
good morning

In [ ]:
for i in range(11,21):
  print(i+50)

61
62
63
64
65
66
67
68
69
70

In [ ]:
for i in range(5):
  pass

In [ ]:
age = 27

print(f'My age is {age}')

My age is 27

In [ ]:
for i in range(1,11):
  print(f'value is : {i}')

value is : 1
value is : 2
value is : 3
value is : 4
value is : 5
value is : 6
value is : 7
value is : 8
value is : 9
value is : 10

In [ ]:
for i in range(1,11):
  print(i,end='->')

1->2->3->4->5->6->7->8->9->10->

**if**

In [ ]:
money = 20000
iphone = 50000

if money>iphone:
  print('I will buy Iphone')

In [ ]:
money = 200000
iphone = 50000

if money>iphone:
  print('I will buy Iphone')

I will buy Iphone

In [ ]:
money = 200000
iphone = 50000

if money>iphone:
  print('I will buy Iphone')

else:
  print('I dont have enough money')

I will buy Iphone

In [ ]:
money = 2000
iphone = 50000
samsung = 25000
vivo = 15000

if money > iphone:
  print('I will buy Iphone')

elif money > samsung:
  print('I will buy samsung')

elif money > vivo:
  print('I will buy vivo')

else:
  print('I dont have enough money')

I dont have enough money

In [ ]:
money = 2000
iphone = 50000
samsung = 25000
vivo = 15000

if money > iphone:
  print('I will buy Iphone')

if money > samsung:
  print('I will buy samsung')

if money > vivo:
  print('I will buy vivo')

else:
  print('I dont have enough money')

In [ ]:
# even values from 11 to 20

for i in range(11,21):
  if i%2 == 0:
    print(f'Even : {i}')

Even : 12
Even : 14
Even : 16
Even : 18
Even : 20

**perfect number**

In [ ]:
n = 8
res = 0

for i in range(1,n):
  if n%i == 0:
    res = res + i

if n == res:
  print(f'{n} is a perfect number')
else:
  print(f'{n} is not a perfect number')

8 is not a perfect number

In [ ]:
# break

for i in range(11,21):
  print(i)
  if i == 17:
    break

11
12
13
14
15
16
17

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
a = 1

while a <= 10:
  print(a)
  a = a + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(11,17):
  if i == 13:
    continue
  print(i)

11
12
14
15
16

**write the forloop for**

- `string | List | tuple | sets | dict `

In [ ]:
# string

a = 'data'

for i in a:
  print(i)

d
a
t
a

In [ ]:
a = 'data'
for i in a:
  print(i,ord(i))

d 100
a 97
t 116
a 97

In [ ]:
b = [10,20,30,50]

for i in b:
  print(i+10)

20
30
40
60

In [ ]:
a = (10,20,30,50)

for i in a:
  print(i+10)

20
30
40
60

In [ ]:
a = {10,70,90,100,120}

for i in a:
  print(i+10)

110
100
80
130
20

In [ ]:
a = {'apple':100,'carrot':200,'banana':300}

for i in a:
  print(i)
  print(a[i])

apple
100
carrot
200
banana
300

- `find the factorial of a given number `

In [ ]:
n = 9

r = 1

for i in range(1,n+1):
  r = r * i

print(r)

362880

- find the sum of the digits -> 567

In [ ]:
n = 567
r = 0

b = str(n)

for j in b:
  r = r + int(j)

print(r)

18

In [ ]:
# find the number of values in list without using len

a = [10,20,60,90,100]
r = 0

for i in a:
    r = r + 1

print(r)

5

In [ ]:
for i in range(11,16):
  for j in range(21,26):
    print(i,j)

11 21
11 22
11 23
11 24
11 25
12 21
12 22
12 23
12 24
12 25
13 21
13 22
13 23
13 24
13 25
14 21
14 22
14 23
14 24
14 25
15 21
15 22
15 23
15 24
15 25

In [ ]:
print('good morning')
print()
print('good evening')

good morning

good evening

In [ ]:
for i in range(5):
  for j in range(5):
    print('*',end = ' ')
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
# find a Given number is palindrome or not

n = 121

b = str(n)

print(f'value in b : {b}')

c = b[::-1]

print(f'value in c : {c}')

if b == c:
    print(f'Palindrome Number : {n}')
else:
    print(f'It is not a palindrome : {n}')

value in b : 121
value in c : 121
Palindrome Number : 121

In [ ]:
n = 423
temp = n

r = 0

while n > 0:
    f = n % 10
    r = (r*10) + f
    n = n // 10

print(f'value in r : {r}')


if temp == r:
    print(f'Given number is Palindrome : {temp}')
else:
    print(f'Not a palindome : {temp}')

value in r : 324
Not a palindome : 423

In [ ]:
n = 153
temp = n

r = 0

while n > 0:
    f = n % 10
    r = r + (f*f*f)
    n = n // 10

print(f'value in r : {r}')


if temp == r:
    print(f'Given number is Amstrong : {temp}')
else:
    print(f'Not a Amstrong : {temp}')

value in r : 153
Given number is Amstrong : 153

In [ ]:
# fibonacci series

n = 8

a = 0
b = 1

print(a)
print(b)


for i in range(n-2):
    c = a + b
    print(c)
    a = b
    b = c

0
1
1
2
3
5
8
13

## Advanced Questions

In [ ]:
# from the values 12 to 50 -> capgemini
c = []


for i in range(12,51):
  if i % 3 == 0 and i % 5 == 0:
    c.append(i)


print(c)

[15, 30, 45]

In [ ]:
# atai
res = 0
a = [   [12.55,10,'data science',45],    [10,1,5.5,'python']     ]

for i in a:
  for j in i:
    if type(j) == int:
      res = res + j


print(res)

66

In [ ]:
a = 'sharuk khan'

f = {}

for i in a:
  if i not in f:
    f[i] = 1
  else:
    f[i] = f[i] + 1


print(f)

{'s': 1, 'h': 2, 'a': 2, 'r': 1, 'u': 1, 'k': 2, ' ': 1, 'n': 1}

In [ ]:
a = 'aeroplane12455'

res = 0

for i in a:
  if i.isalpha():
    res = res + 1

print(res)

9

In [ ]:
# MSFT

a = [7,3,3,7,5,1,3,2,4,2]

odd_based = a[::2] # odd positions
even_based = a[1::2] # even positions

print(f'Even based : {even_based}')
print(f'Odd Based : {odd_based}')
c = 0
d = 0

for i in odd_based:
  c = c + i

for j in even_based:
  d = d + j


print(c)
print(d)

Even based : [3, 7, 1, 2, 2]
Odd Based : [7, 3, 5, 3, 4]
22
15

In [ ]:
# MSFT

a = [7,3,3,7,5,1,3,2,4,2]

odd_based = a[::2] # odd positions
even_based = a[1::2] # even positions

print(f'Even based : {even_based}')
print(f'Odd Based : {odd_based}')
c = 0
d = 0

for i in range(5):
  c = c + odd_based[i]
  d = d + even_based[i]
print(c)
print(d)

Even based : [3, 7, 1, 2, 2]
Odd Based : [7, 3, 5, 3, 4]
22
15

In [ ]:
n = 5
r = 2


d = []


c = 0

for i in range(n):
  c = c + r
  d.append(c)

print(d)

[2, 4, 6, 8, 10]

In [ ]:
n = 5
r = 3

for i in range(n):
  print(i*r,end=' ')

0 3 6 9 12

In [ ]:
for i in range(1,6):
  print(i,end=i*'.')

1.2..3...4....5.....

In [ ]:
a = 'john'

t = ''


for i in a:
  t = i + t

print(t)

nhoj

In [ ]:
# prime number

n = 7
c = 0


for i in range(1,n+1):
  if n % i == 0:
    c = c + 1

if c == 2:
  print(f'{n} is a prime number ')

7 is a prime number