`Exceptional handling is used to optimize the error but not to solve the error `

**common Errors**

- `ZeroDivisionError`
- `NameError `
- `ValueError `
- `Syntax Error`
- `indentation Error `
- `IOE (Input and Output) Errors`

In [ ]:
# zero Division Error

10 / 0

ZeroDivisionError: division by zero

In [ ]:
# NameError

city = 'hyderabad'

print(CITY)

NameError: name 'CITY' is not defined

In [ ]:
# ValueError

a = 'kumar123'
print(int(a))

ValueError: invalid literal for int() with base 10: 'kumar123'

In [ ]:
# syntax

10a = 200
print(10a)

SyntaxError: invalid decimal literal (<ipython-input-6-5e02c588edb1>, line 3)

In [ ]:
for i in range(11,16):
print(i)

IndentationError: expected an indented block after 'for' statement on line 1 (<ipython-input-7-25074cdbb62e>, line 2)

In [ ]:
a = open('sharuk.txt','r')

print(a.read())

a.close()

FileNotFoundError: [Errno 2] No such file or directory: 'sharuk.txt'

**How it works**

it works with 2 blocks

`try -> block `

`except -> block `

In [ ]:
try:
  a = 10
  b = 20
  print(a / b)


except Exception as e:
  print(e)

0.5

In [ ]:
try:
  a = 10
  b = 0
  print(a / b)


except Exception as e:
  print(e)

division by zero

In [ ]:
for i in range(11,21):
  if i % 2 == 0:
    print(i)

12
14
16
18
20

In [ ]:
try:
  for i in range(11,21):
    if k % 2 == 0:
      print(i)

except Exception as e:
  print(e)

name 'k' is not defined

In [ ]:
try:
  for i in range(11,21):
    if k % 2 == 0:
      print(i)



except ZeroDivisionError as e:
  print(e)

except ValueError as e:
  print(e)

NameError: name 'k' is not defined

In [ ]:
try:
  for i in range(11,21):
    if k % 2 == 0:
      print(i)

except Exception as e:
  print(e)

name 'k' is not defined

In [ ]:
try:
  for i in range(11,21):
    if k % 2 == 0:
      print(i)

except Exception as e:
  print(f'The Error is Because of : {e}')

The Error is Because of : name 'k' is not defined

In [ ]:
try:
  for i in range(11,21):
    if i % 2 == 0:
      print(i)

except Exception as e:
  print(f'The Error is Because of : {e}')

finally:
  print('Hi I am finally')

12
14
16
18
20
Hi I am finally

In [ ]:
try:
  for i in range(11,21):
    if k % 2 == 0:
      print(i)

except Exception as e:
  print(f'The Error is Because of : {e}')

finally:
  print('Hi I am finally')

The Error is Because of : name 'k' is not defined
Hi I am finally

In [ ]:
import sys

In [ ]:
try:
  for i in range(11,21):
    if k % 2 == 0:
      print(i)

except Exception as e:
  print(f'The Error is try : {e}')
  error_type,error_msg,tb = sys.exc_info()
  print(f'Type : {error_type}')
  print(f'MSG from sys :{error_msg}')
  print(f'Line no : {tb.tb_lineno}')

The Error is try : name 'k' is not defined
Type : <class 'NameError'>
MSG from sys :name 'k' is not defined
Line no : 3

In [ ]:
try:
  for i in range(11,21):
    if k % 2 == 0:
      print(i)

except Exception as e:
  error_type,error_msg,tb = sys.exc_info()
  print(f'Getting Issue from Line no : {tb.tb_lineno} -> Error type : {error_type} -> Error Msg : {error_msg}')

Getting Issue from Line no : 3 -> Error type : <class 'NameError'> -> Error Msg : name 'k' is not defined

In [ ]:
for i in range(11,21):
    if k % 2 == 0:
      print(i)

NameError: name 'k' is not defined

In [ ]:
try:
  a = 10
  b = 0
  print(a/b)

except Exception as e:
  error_type,error_msg,tb = sys.exc_info()
  print(f'Getting Issue from Line no : {tb.tb_lineno} -> Error type : {error_type} -> Error Msg : {error_msg}')

Getting Issue from Line no : 4 -> Error type : <class 'ZeroDivisionError'> -> Error Msg : division by zero