`lambda functions are know as anonymous Functions `

**what is anonymous functions**

anonymous functions means a function without a function name



syntax:

lambda(arguments,expressions)

In [ ]:
def fun(a,b):
  print(a+b)


fun(10,20) # calling

30

In [ ]:
c = lambda a,b : a + b

print(c(10,20))

30

In [1]:
n = 2
c = lambda x,y : x*y

for i in range(1,11):
  print(f'{n} * {i} = {c(n,i)}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
n = 2
c = lambda x,y : x*y

for i in range(1,11):
  print(c(n,i))

2
4
6
8
10
12
14
16
18
20

In [ ]:
a = 27

print('My age is',a)

My age is 27

In [ ]:
a = 27

print(f'My age is -> {a}')

My age is -> 27

In [ ]:
print(f'My age is -> {27}')

My age is -> 27

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

30

**Map Filter reduce**

`Map function is used to take values internally so that there is no need of forloop `

`syntax -> Map(function,iterators)`

In [ ]:
def fun(a,b):
  for i in range(a,b):
    if i%2 == 0:
      print(f'Even : {i}')

fun(11,21)

Even : 12
Even : 14
Even : 16
Even : 18
Even : 20

In [ ]:
# Map -> map(function,iterables)



def sharuk(b):
  if b%2 == 0:
    return b



sol = map(sharuk,[11,12,13,14,15])
print(list(sol))

[None, 12, None, 14, None]

In [4]:
sol = map(lambda x : x%2 == 0 ,[11,12,13,14,15])
print(list(sol))

[False, True, False, True, False]

In [7]:
def fun(a):
  if a%2==0:
    return a
sol=map(fun,[1,2,3,4,5,6])
print(list(sol))

[None, 2, None, 4, None, 6]

In [ ]:
# Filter -> Filter(function,iterables)
def sharuk(b):
  if b%2 == 0:
    return b

sol = filter(sharuk,[11,12,13,14,15])
print(list(sol))

[12, 14]

In [ ]:
sol = filter(lambda x : x%2 == 0,[11,12,13,14,15])
print(list(sol))

[12, 14]

In [10]:
from functools import reduce

In [16]:
reduce(lambda x,y : x+y , [4,8,12,6,9])

39

**Map With Filter**

In [ ]:
sol = map(lambda x: x+10 , filter(lambda x:x%2==0 , [10,11,12,14,15,21]))
print(list(sol))

[20, 22, 24]

**Filter_with_map**

In [ ]:

sol = filter(lambda x:x%2 == 0 , map(lambda x : x + 20 , [1,2,3,4,5]))
print(list(sol))

[22, 24]

**reduce with Map and filter**

In [ ]:
sol = reduce(lambda x,y:x+y, map(lambda x:x+2,filter(lambda x : x%2 == 0,[10,11,12,13,14,15,16,17,18])))
print(sol)

80

In [ ]:
sol = reduce(lambda x,y:x+y, [12, 14, 16, 18, 20])
print(sol)

In [ ]:
list(filter(lambda x : x%2 == 0,[10,11,12,13,14,15,16,17,18]))

[10, 12, 14, 16, 18]

In [ ]:
list(map(lambda x:x+2,[10, 12, 14, 16, 18]))

[12, 14, 16, 18, 20]

In [ ]:
a = [12, 14, 16, 18, 20]
reduce(lambda x,y:x+y, a)

80