In [1]:
print('python programming') #printing a string

python programming

In [2]:
print(22.9) #printing a float

55.5

In [3]:
print('python123')

python123

In [5]:
print('my name is Jayanth')

my name is Jayanth

Relation between print and variables
    1.using comma(,) we can add one data type inside     the print with other data type and also comma         will give one tab space.

In [11]:
a='jayanth'
print('my name is',a)

my name is jayanth

Lets discuss 4 types of print conditions

In [16]:
a=26
b='USA'
c=90.2
print('Im at the age of',a,'staying in',b,'and earning',c,'thousand dollors per year')

Im at the age of 26 staying in US and earning 90.2 thousand dollors per year

Before going to learn 2nd Technique first have a look into type conversions concept

In [19]:
# int -> float
a=12
print(a)
print(type(a))

b=float(a) # actual conversion is going on
print(b)
print(type(a))

12
<class 'int'>
12.0
<class 'int'>

In [20]:
# int -> str
a=12
print(a)
print(type(a))

b = str(a) # actual conversion is going on
print(b)
print(type(b))

12
<class 'int'>
12
<class 'str'>

In [21]:
# float -> int
a=25.5555
print(a)
print(type(a))

b=int(a) # actual conversion is going on
print(b)
print(type(b))

25.5555
<class 'float'>
25
<class 'int'>

In [23]:
# float -> str
a=55.55
print(a)
print(type(a))

b=str(a) # actual conversion is going on
print(b)
print(type(b))

55.55
<class 'float'>
55.55
<class 'str'>

In [24]:
# str -> int

a='123'
print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

123
<class 'str'>
123
<class 'int'>

In [28]:
# str -> float and str -> int are not possible if you give a string
a='jayanth.26'
print(a)
print(type(a))

b = float(a)
print(b)
print(type(b))

jayanth.26
<class 'str'>

ValueError: could not convert string to float: 'jayanth.26'

In [29]:
# str -> float

a='69.69'
print(a)
print(type(a))

b = float(a)
print(b)
print(type(b))

69.69
<class 'str'>
69.69
<class 'float'>

In [30]:
a=26
b='USA'
c=90.2
print('I am at the age of '+str(a)+' staying in '+b+' and earning '+str(c)+' thousand dollors per year')

I am at the age of 26 staying in USA and earning 90.2 thousand dollors per year

2. using + -> we can add str data type along with given varibales but make sure that variables are also string -> and + operator wont give one tab space

In [31]:
a = 26
b = 'USA'
c = 90.2

print('I am at the age of '+str(a)+' staying in '+b+' and earning '+str(c)+' thousand dollors per year')

I am at the age of 26 staying in USA and earning 90.2 thousand dollors per year

3. using Identifiers -> %d -> int and %f -> float and %s -> str

In [32]:
a = 26
b = 'USA'
c = 90.2

print('I am at the age of %d staying in %s and earning %f thousand dollors per year'%(a,b,c))

I am at the age of 26 staying in USA and earning 90.200000 thousand dollors per year

4. using {} and f function

In [33]:
a = 26
b = 'USA'
c = 90.2

print(f'I am at the age of {a} staying in {b} and earning {c} thousand dollors per year')

I am at the age of 26 staying in USA and earning 90.2 thousand dollors per year