- `string -> ''`
- `list -> []`
- `tuple -> ()`

**tuple -> ()**

- `user can pass anything inside the tuple -> int | float | string | boolean `
- `indexing | memory Allocation | slicing | skipping are same link strings and list only `

In [ ]:
a = 'data'
print(type(a))

<class 'str'>

In [ ]:
a = [10,20]
print(type(a))

<class 'list'>

In [ ]:
a = (20,55.55,'data') # save in the Memory
print(a)

(20, 55.55, 'data')

In [ ]:
a = (10,4,17,9,21,36) # save in the Memory
print(a)

(10, 4, 17, 9, 21, 36)

In [ ]:
# indexing
print(a[2])

17

In [ ]:
# slicing

print(a[1:4]) # Python follows (n-1) logic

(4, 17, 9)

In [ ]:
# skipping

print(a[::3])

(10, 9)

In [ ]:
print(a[2:])

(17, 9, 21, 36)

In [ ]:
print(a[::-1])

(36, 21, 9, 17, 4, 10)

**tuple concept is mutable or immutable**

`to prove a concept is mutable or immutable we need to check 2 conditions `

- `try to increase the Memory space`
- `try to decrease the memory space `

In [ ]:
# add

a = (10,4,17,9,21,36) # save in the memory

a[6] = 500 # here tring to create 6th index and adding 500 in it

print(a)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# del

a = (10,4,17,9,21,36) # save in the memory

del a[4]

print(a)

TypeError: 'tuple' object doesn't support item deletion

**From the Above sources we got to know that -> tuple is immutable**

**built_in_functions**

In [ ]:
# count

a = (10,4,17,9,21,36) # save in the memory
print(a.count(4))

1

In [ ]:
# index
a = (10,4,17,9,21,36) # save in the memory

print(a.index(4))

1

**why tuple -> because for a single varibale we can pass only a single value**

In [ ]:
a,b = 100
print(a)
print(b)

TypeError: cannot unpack non-iterable int object

In [ ]:
a = 100,200

print(a)

(100, 200)

In [ ]:
a,b,c = 1,2,3
print(a)
print(b)
print(c)

1
2
3

**split and join built_in_function in string**

In [ ]:
# split

a = 'I love my country'

b = a.split()

print(b)

['I', 'love', 'my', 'country']

In [ ]:
# split

a = 'I love my.country'

b = a.split('.')

print(b)

['I love my', 'country']

In [ ]:
# join -> used to join the data

a = ['usa','uk','paris','canada']

b = ''.join(a)
print(b)

usaukpariscanada

In [ ]:
# join -> used to join the data

a = ['usa','uk','paris','canada']

b = ' '.join(a)
print(b)

usa uk paris canada

In [ ]:
# join -> used to join the data

a = ['usa','uk','paris','canada']

b = '->'.join(a)
print(b)

usa->uk->paris->canada

In [ ]:
a = 'i.love.programming.language'

# output -> programming.language.love.i

print(a[::-1])

egaugnal.gnimmargorp.evol.i

In [ ]:
a = 'i.love.programming.language'

# output -> language.programming.love.i

b = a.split('.')

print(b)

c = b[::-1]

print(c)

d = '.'.join(c)
print(d)

['i', 'love', 'programming', 'language']
['language', 'programming', 'love', 'i']
language.programming.love.i

In [ ]:
'.'.join('i.love.programming.language'.split('.')[::-1])

'language.programming.love.i'